.board {
    #app {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #canvas {
        background: #eee;
    }

    .bot {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn {
        cursor: pointer;
        margin: 10px;
    }
}