.board {

    #canvas {
        background: #eee;
        display: block;
        margin 0 auto
    }

    .bot {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn {
        cursor: pointer;
        margin: 10px;
    }
}