@import "//at.alicdn.com/t/font_1077583_pphsn6byrvr.css"
@import "variable.styl"


body, html {
  font-family PingFang SC, Tahoma, Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, Heiti SC, WenQuanYi Micro Hei, sans-serif
  user-select text
  -webkit-tap-highlight-color transparent
  font-size $text-size-sm
  color #222
}

.no-scroll {
  overflow hidden
}

input {
  -webkit-appearance none
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $autofill inset;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px $autofill inset;
}

.outline-prefect {
  &:focus:not(:focus-visible) {
    //tab选中显示轮廓，click没有轮廓 参考https://www.zhangxinxu.com/wordpress/2019/03/css-focus-visible/
    outline: none
  }
}

a {
  color #222
  text-decoration none
}

.pr {
  position relative
}

.pa {
  position absolute
}

.w-1040 {
  width 1040px
  margin 0 auto
  box-sizing border-box
}

.container {
  margin 0 auto
  width 560px
  box-sizing border-box
}


//page css

.page {
  padding 66px 0 40px
}

.page-padding {
  padding 24px
}


//滚动条美化
.zmx-scroll {
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background: none;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
  }

  /* 滚动条滑块 */

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  }
}


/****** 屏幕尺寸小于1000 css 覆盖修改*****/

@media only screen and (max-width $screen-sm-min) {
  .page {
    padding 56px 0 20px
  }

  .page-padding {
    padding 4% 3%
  }

  .w-1040, .container {
    width 100%
  }
}
