//color
$c1 = #ed5634
$c2 = #F2E2DC
$cf = #fff
$fa = #fafafa
$f5 = #f5f5f5
$f7 = #f7f7f7
$f0 = #f0f0f0
$ee = #eee
$dd = #ddd
$bg = #edebe8
$link = #567895
$link-bg = #f7f6f5
$autofill = #FAFFBD
$success = #17bf63
$warning = #e6a23c
$danger = #f56c6c
$info = #909399
$primary = $c1
//fontsize
$text-size-xl = 20px
$text-size-lg = 18px
$text-size-md = 16px
$text-size-sm = 14px
$text-size-xs = 12px

// Screen size breakpoints
$screen-xs-min = 374px;
$screen-sm-min = 1000px;
$screen-xl-min = 1440px;